* {
    font-family: 'Lora', serif;
}

/* scroll bar */
::-webkit-scrollbar {
width: 1vw;
}

html ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#909090bd);
    border-radius: 6px;
}

html ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#00c6ff);

}

::-webkit-scrollbar-track {
    background-color: #667e8471;
}

/* Navbar */
.cGreen {
    /* color Navbar y Footer */
    background-color: #49bf44f1;
}

/* Lista */
th {
    padding: 1px 15px;
}

button {
    padding: 10px 10px;
    margin: 10px 0 10px;
    border: none;
    border-radius: 10px;
}

.btn-ed {
    background-color: #38bc36;
}

.btn-del {
    background-color: #fe0000;
}

td {
    padding: 1px 15px;
}

table tr td:last-child {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* footer */

.colortw {
    color: #4a78f6;
}

.colorig {
    color: #ac2bac;
}

.colorgit {
    color: #000000;
}

/*Footer efectos hover*/

.colortw:hover {
    color: #4aa9f6;
}

.colorig:hover {
    color: #ed38ed;
}

.colorgit:hover {
    color: #909090;
}